// Place all the styles related to the api/games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.showcase-container {
  display: block;
  background-color: #282c34;
  color: #a1a7b2;
  padding: 35px 0;
}

.showcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: inherit;
  flex-direction: row;
  width: 100%;
}

.game-title {
  flex-basis: 100%;
  max-width: 100%;
  font-size: 1.875em;
  text-transform: uppercase;
  font-weight: normal;
  margin: 6px 0;
  font-weight: bold;
  color: #a1a7b3;
}

.showcase-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.large-showcase {
  margin: 6px 0;
  margin-bottom: 13.5px;
}

.small-showcase {
  display: inline-block;
  justify-content: space-between;
  flex-basis: 32.5%;
  max-width: 32.5%;
  background-color: rgba(0,0,0,0.5);
}

.small-img-showcase {
  width: 100%;
}

.pricing {
  display: flex;
  flex-direction: column;
  color: #aeb4c1;
  font-size: 1em;
  padding: .6em 1em .8em;
}

.game-platform {
  display: flex;
  flex-direction: row;
}

.game-platform > p {
  padding-right: 4.5px;
}

.prices {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icons {
  fill: '#000000';
  filter: invert(.75);
}

.add-to-cart {
  background-color: #9cb946;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  margin-bottom: .8em;
  height: 67px;
  border: none;
}

.fa-shopping-cart {
  padding-right: .7em;
}

.carousel {
  flex-basis: 100%;
  max-width: 100%;
}

.game-system-requirements {
  white-space: pre;
}
.game-description {
  white-space: pre-wrap;
}

.details-container {
  padding: 35px 0;
  background-color: #1b1e1b;
  font-size: 0.875em;
  color: white;
  display: flex;
  justify-content: center;
}

.details {
  max-width: 1140px;
  min-width: 1160px;
  display: flex;
  justify-content: space-between;
}

.description-container {
  padding: 35px 0;
  background-color: #e4e7ed;
  color: #494f5c;
  display: flex;
  justify-content: center;
}

.description {
  max-width: 1140px;
}

.system-requirements {
  color: #a1a7b2;
  background-color: #1b1e1b;
  font-size: 16px;
  line-height: 1.35;
}