.search-container {
  border: none;
  box-shadow: none;
  width: 25%;
}

textarea:focus, input:focus{
    outline: none;
}

.search-bar {
  background-color: #7d828a;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #16181d;
  font-size: 0.95em;
  font-weight: bold;
  padding: 0.75em 2em 0.75em 0.9em;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:rgba(60,65,75,0.7);
  opacity: 1; /* Firefox */
}